xft*dpi: 96
xft*antialias: 1
Xft*autohint: 0
xft*hinting: 1
xft*rgba: rgb
xft*hintstyle: hintfull
xft*lcdfilter: lcddefault

urxvt*perl-ext-common: default,tabbedex,clipboard,url-select,keyboard-select
urxvt*iconFile: /usr/share/icons/oxygen/32x32/apps/yakuake.png

urxvt*keysym.F11: perl:fullscreen:switch
urxvt*font: xft:Fira Mono:pixelsize=13,xft:PowerlineSymbols:pixelsize=13
urxvt*boldFont: xft:Fira Mono:pixelsize=13,xft:PowerlineSymbols:bold:pixelsize=13
urxvt*cursorBlink: 1
urxvt*cursorUnderline: 1
urxvt*urlLauncher: /usr/bin/firefox
urxvt*matcher.button: 1
urxvt*underlineURLs: 1
urxvt*colorUL: #4682B4
urxvt*scrollBar_right: 1
urxvt*scrollstyle: plain
urxvt*scrollTtyOutput: 0
urxvt*scrollWithBuffer: 1
urxvt*scrollTtyKeypress: 1
urxvt*secondaryScroll: 1
urxvt*depth: 32
urxvt*background: [90]#282828
urxvt*geometry: 96x24
urxvt*copyCommand: xclip -i -selection clipboard
urxvt*pasteCommand: xclip -o -selection clipboard
urxvt*loginShell: 1

URxvt.termName: xterm-256color
URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 7
URxvt.tabbed.tab-bg: 0
URxvt.urgentOnBell: 1
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.M-Delete: perl:matcher:list
URxvt.url-select.launcher: /usr/bin/firefox
URxvt.url-select.underline: 1

URxvt.iso14755: 0
URxvt.iso14755_52: 0
URxvt.keysym.C-Up: perl:font-size:increase
URxvt.keysym.C-Down: perl:font-size:decrease
URxvt.keysym.C-S-Up: perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal

! special
*.foreground:   #a2a2a2
*.background:   #282828
*.cursorColor:  #a2a2a2

! black
*.color0:       #555555
*.color8:       #888888

! red
*.color1:       #9c3528
*.color9:       #d64937

! green
*.color2:       #61bc3b
*.color10:      #86df5d

! yellow
*.color3:       #f3b43a
*.color11:      #fdd75a

! blue
*.color4:       #0d68a8
*.color12:      #0f75bd

! magenta
*.color5:       #744560
*.color13:      #9e5e83

! cyan
*.color6:       #288e9c
*.color14:      #37c3d6

! white
*.color7:       #a2a2a2
*.color15:      #f9f9f9

