root = true

[**.js]
path=~/.vim/bundle/vim-jsbeautify/plugin/beautify.js
bin=node
indent_style = space
indent_size = 4

[**.css]
path=~/.vim/bundle/vim-jsbeautify/plugin/beautify.js
indent_style = space
indent_size = 4

[**.html]
path=~/.vim/bundle/vim-jsbeautify/plugin/beautify.js
max_char = 79
brace_style = expand
indent_style = space
indent_size = 4
